.container1{	
    width: 1402px;
    font-size: 15px;
    margin: 0px ;
    padding: 7px 40px;
    background-color:rgb(201, 205, 255)
  }

  h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color:#3672f3
  }

  .menu {
	width: 100%;
	display: table;
}
.menu ul {
	display: table-row;
}
.menu li {
	display: table-cell;
	background: #b3aff3;
}
.menu ul li:hover, .menu a:hover {
	background: #6f9cea;
}
.menu li a {
	display: block;
	padding: 9px 156px;
	color: #2269eb;
	text-align: center;
}


.right{
    text-align: right;
    height: auto;
    object-fit: contain;
    float: right;
    padding-right: 100px;
    margin-top: -485px;
}

.row{
    text-align: right;
    height: 200px;
    float: right;
    padding-right: 100px;
    margin-top: -190px;
    bottom: 50px;
}

.fog{
    width: 10%;
    margin-left: 450px;
    margin-top: -50px;
    position: absolute;

}